@font-face {
  font-family: 'FOUREYES';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/FOUREYES/FOUREYES.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/FOUREYES/FOUREYES.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/FOUREYES/FOUREYES.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/FOUREYES/FOUREYES.ttf') format('truetype');
}